# --- Environment & Secrets ---
.env
api_keys.yaml

# --- Data Outputs ---
data/*
!data/.gitkeep  # optional placeholder file if you want to keep the folder structure
__pycache__/
*.log
bls_csv_outputs/*   
fred_csv_outputs/*  
plotly_outputs/*

# --- Jupyter Notebooks & Checkpoints ---
.ipynb_checkpoints/


# --- OS & IDE Files ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Python Virtual Environments ---
.venv/
venv/
.envrc
